@model IEnumerable<PCAautomation.Models.PCAModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PriceChangeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeAgree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descript)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WINUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Export)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriceChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeAgree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descript)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WINUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Export)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }) |
            @Html.ActionLink("Details", "Details", new { id = item.RecordID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RecordID })
            </td>
        </tr>
    }

</table>
<p>
    <input type="submit" value="Export" />
</p>
